#buddypress.bp-profile {
	.bp-profile {
		&__body {
			margin-top: 1em;
			.profile {
				display: grid;
				grid-template-columns: 0.6fr 0.4fr;
				gap: 20px;
				& > * {
					justify-items: space-between;
				}
				.bp-profile__section--container {
					&.about {
						align-self: stretch;
					}
					&.social-media {
						grid-column: 2 / 3;
						grid-row: 1 / 2;
						height: min-content;
					}
					&.next-level-info {
						grid-column: 1 / 2;
						grid-row: 2 / 3;
					}
				}
			}
		}
	}
}
