#bp-members-directory {
	margin-top: 25vh;
	#members-directory-form {
		// grid-column: 1 / -1;
		.item-list-tabs {
			width: 100%;
			ul {
				padding: 2em 0;
				@include displayFlex(row, space-evenly);
				margin: 0;
			}
		}
		#subnav {
			#members-order-select {
				@include displayFlex;
				label {
					margin-right: 1em;
				}
			}
			ul {
				padding: 0;
			}
		}
	}
}
