.bp-profile__subnav {
	background-color: white;
	border: 3px solid $color-grey--light;
	border-top: 3px dashed $color-grey--light;
	border-bottom-left-radius: $rounded-border;
	border-bottom-right-radius: $rounded-border;
	&--container {
		@include displayFlex(row, space-evenly);
		list-style: none;
		width: 100%;
		margin: 0;
		li {
			display: inline-block;
			padding: 4px 1em;
			transition: all 0.2s ease;
			a {
				color: $color-grey--dark;
				&:hover {
					color: $color-purple;
				}
			}
			&.current.selected {
				a {
					color: $color-purple;
				}
			}
		}
	}
}
