#buddypress {
	#item-header.bp-profile__header {
		#cover-image-container {
			border: 3px solid $color-grey--light;
			border-bottom: none;
			border-top-left-radius: $rounded-border;
			border-top-right-radius: $rounded-border;
			overflow: hidden;
			position: relative;
			#header-cover-image {
				z-index: 0;
				position: relative;
				background-size: cover;
			}
			#item-header {
				&__container {
					@include displayFlex(row, flex-start, center);
					position: relative;
					background-color: white;
					padding: 1em;
				}
				&-avatar {
					margin: 1em;
					background-color: white;
					border-radius: 50%;
					width: 200px;
					& a {
						z-index: 3;
						border-radius: 50%;
					}
					& img {
						border: 5px solid $color-primary;
						border-radius: inherit;
					}
				}
				&-content {
					@include displayFlex(column, center, flex-start);
					.user-nicename.headline {
						margin: 0;
						font-size: 3em;
					}
					#item-meta {
						@include displayFlex(column);
						.subheadline {
							margin: 1em 0;
						}
					}
					.location {
						color: $color-secondary;
					}
				}
			}
		}
	}
}
