#buddypress {
	#item-header {
		border-radius: $rounded-border;
		overflow: hidden;
		border: 2px solid $color-grey--light;
		margin-bottom: 1em;
		height: auto;
		background-color: transparent;
		#cover-image-container {
			padding: 2em;
			border-radius: inherit;
			background-color: transparent;
			position: relative;
			#header-cover-image {
				height: 225px;
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
			#item-header {
				&-cover-image {
					display: flex;
					background-color: transparent;
					align-items: flex-end;
				}
				&-avatar {
					align-self: start;
					margin: 0 2em;
					width: 200px;
					z-index: 3;
					position: absolute;
					background-color: white;
					border-radius: 50%;
					& a {
						border-radius: 50%;
					}
					& img {
						border: 5px solid $color-primary;
						border-radius: inherit;
					}
				}
				&-content {
					display: flex;
					flex-direction: column;
					justify-content: end;
					.user-nicename {
						margin-bottom: 8px;
						overflow: visible;
						color: black;
						text-shadow: none;
						font-size: 2em;
						text-transform: lowercase;
						.premium {
							.x-icon {
								color: $color-primary;
								font-size: 0.8em;
								&:hover {
									color: $color-secondary;
								}
							}
						}
					}
					#item-meta {
						@extend #item-header-content;
						justify-content: space-between;
						height: auto;
						max-width: 90%;
						.headline {
							line-height: 1.2em;
							margin-bottom: 1em;
						}
						.location {
							font-size: 0.8em;
							color: $color-grey--dark;
							margin-top: auto;
						}
					}
				}
			}
		}
	}
}
