.bp-profile__subnav {
	margin-bottom: 1em;
	&--container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		list-style: none;
		width: 100%;
		border: 2px solid $color-grey--light;
		border-radius: $rounded-border;
		margin: 0;
		li {
			display: inline-block;
			a {
				color: black;
			}
			&.current.selected {
				a {
					color: $color-purple;
				}
			}
		}
	}
}
