.profile {
	// Widgets Display
	.bp-widget {
		border: 3px solid $color-primary;
		border-radius: 10px;
		margin-bottom: 1em;
		padding: 1em;
		background-color: white;
		box-shadow: 0 2px 4px rgba($color-grey--light, 0.8);
		h2 {
			color: $color-primary;
			margin: 0;
			margin-bottom: 20px;
			font-weight: 700;
		}
	}
}
