.bp-profile {
	// Widgets Display
	&__section {
		&--container {
			border: 3px solid $color-primary;
			border-radius: 10px;
			margin-bottom: 1em;
			padding: 1em;
			background-color: white;
			box-shadow: 0 2px 4px rgba($color-grey--light, 0.8);
			@include displayFlex(column, flex-start);
			height: min-content;
		}
		&--header {
			color: $color-primary;
			font-family: $font-headings;
			text-transform: lowercase;
			margin: 0;
			font-weight: 700;
		}
		&--content {
			.profile-fields {
				&--label {
					font-size: 1em;
				}
			}
		}
	}

	.profile {
		display: grid;
		grid-template-columns: 60% 40%;
		gap: 1em;
	}
}
div#buddypress .profile h2 {
	margin: 0;
}
