.bp-profile {
	// Widgets Display
	&__section {
		&--container {
			@include sparkBorder;
			@include displayFlex(column, flex-start);
			margin-bottom: 1em;
			padding: 1em;
			background-color: white;
			box-shadow: 0 2px 4px rgba($color-grey--light, 0.8);
			height: min-content;
		}
		&--header {
			color: $color-primary;
			font-family: $font-headings;
			text-transform: lowercase;
			margin: 0;
			font-weight: 700;
		}
		&--content {
			.profile-fields {
				&--label {
					font-size: 1em;
				}
			}
			.social {
				&__container {
					padding: 10px;
					width: fit-content;
				}
				&--link {
					font-weight: 700;
					svg {
						width: 30px;
						fill: black;
						transition: 0.2s all ease;
						&:hover {
							transform: scale(1.3);
						}
					}
				}
			}
		}
	}
}
div#buddypress .profile h2 {
	margin: 0;
}
