@use "../abstracts/variables" as v;
%text_input {
	width: 60%;
	&:focus,
	&:focus-visible {
		outline-color: v.$color-purple;
	}
}
.survey {
	margin-top: 3rem;
	&__form {
		label {
			font-weight: 700;
			margin-top: 1rem;
		}
		input[type="text"] {
			@extend %text_input;
		}
		input[type="email"] {
			@extend %text_input;
		}
	}
}
