div.job_listings {
	ul.job_listings {
		.job_listing {
			&:not(:last-child) {
				margin-bottom: 1.5em;
			}
			&__container {
				transition: all 0.2s ease;
				display: flex;
				@include sparkBorder($color-grey--dark);
				&:hover {
					@include cssHover;
				}
			}
			&__company-logo {
				width: 150px;
				height: 150px;
				margin: 0;
				margin-right: 0.5em;
				img.company_logo {
					object-fit: contain;
					width: 100%;
					height: 100%;
					position: relative;
					left: 0;
					float: none;
					margin: 0;
				}
			}
			&__summary {
				@include displayFlex(column, flex-start, flex-start);
				flex-grow: 3;
				&--title {
					color: black;
					margin: 0;
					font-size: 2em;
				}
				&--company {
					&-name {
						font-family: $font-body;
						color: black;
						margin: 0;
						font-size: 1em;
					}
					&-tagline {
						color: $color-grey--dark;
						max-width: 80%;
						font-style: italic;
					}
				}
			}
			&__details {
				@include displayFlex(column);
				padding: 0 1em;
				&--location {
					color: black;
					font-weight: 700;
				}
				&--meta {
					list-style: none;
					display: block;
					color: black;
					margin: 0;
					li {
						display: block;
					}
				}
			}
		}
	}
	a.load_more_jobs {
		margin-top: 1em;
		@include sparkBorder($color-secondary);
		background-color: white;
		transition: all 0.2s ease;
		&:hover {
			background-color: $color-secondary;
			border: 3px solid transparent;
			color: white;
			@include cssHover;
		}
	}
}
