article.type-job_listing {
	@include displayFlex(column, center);
	padding: 0 6%;
}
.single-job-listing {
	display: grid;
	margin: 25vh auto 65px auto;
	grid-template-columns: minmax(300px, 60vw) minmax(300px, 40vw);
	grid-template-rows: repeat(3, min-content);
	@include respond(Tablet) {
		grid-template-columns: unset;
		grid-template-rows: repeat(3, min-content);
	}
	& > * {
		@include displayFlex(row, center, center);
		justify-self: flex-start;
		align-self: flex-start;
	}
	&__header {
		grid-column: span 2;
		width: 100%;
	}
	&--title {
		justify-self: center;
	}
	.job-description {
		grid-column: 1 / 2;
		@include respond(Tablet) {
			grid-column: 1 / -1;
		}
		max-height: min-content;
		max-width: max-content;
	}
	.job_application {
		grid-row: 3/4;
		@include displayFlex(column);
		.application_button {
			width: max-content;
		}
	}
	&__meta {
		position: relative;
		@include displayFlex(column);
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		@include respond(Tablet) {
			grid-column: 1 / -1;
		}
		width: minmax(min-content, max-content);
		&--container {
			top: 10%;
			position: sticky;
			z-index: 1000;
			@include displayFlex(column, flex-start, stretch);

			& form {
				margin: 0;
				@include displayFlex(column, center, center);
			}

			.company {
				order: -1;
				@include displayFlex(row, flex-start, center);

				&__info {
					@include displayFlex(column);
				}
			}
		}
		&--listing {
			margin: 0;
			order: 2;
			@include displayFlex(column);
			width: 100%;
			li {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 1em;
				}
			}
			@include respond(Tablet) {
				@include displayFlex(column);
			}
		}
		&--categories {
			@include displayFlex(row);
			li {
				margin-left: 1em;
			}
		}
	}
}
