article.resume {
	padding-top: 15vh;
	header.entry-header {
		display: none;
	}
}
.single-resume-content {
	@include displayFlex(column, space-evenly, stretch);
	& > * {
		margin-bottom: 2em;
	}
	.wp-job-manager-bookmarks-form {
		align-self: flex-start;
	}
	.resume__header {
		margin-bottom: 2em;
	}
}
