.access-restricted {
	@include sparkBorder;
	@include displayFlex(column);
	background-color: $color-primary;
	position: relative;
	padding: 1em;
	margin: 5px;
	color: white;
	display: block;
	@include float(2s, 5);
	@include cssHover;
	transition: all 0.2s ease;
	&--links {
		@include displayFlex;
		font-size: 0.8em;
		font-style: italic;

		a {
			color: $color-grey--dark;
			font-weight: 700;
			margin-right: 1em;
		}
	}
}
