#object-nav {
	border: none;
	border-radius: $rounded-border;
	background-color: $color-grey--light;
	* {
		border: none;
	}
	ul {
		display: flex;
		flex-direction: column;
		padding: 1em;
		margin: 0;
		li {
			display: block;
			width: 100%;
			border-bottom: 1px solid $color-grey--dark;
			position: relative;
			padding: 5px;
			&:not(:last-of-type) {
				margin-bottom: 10px;
			}
			a {
				// margin-left: 20px;
				background-color: transparent;
				span {
					background-color: $color-purple;
					color: white;
					padding: 5px;
					border-radius: $rounded-border;
					position: absolute;
					right: 0;
					top: -10px;
					font-size: 0.8em;
				}
			}
		}
	}
}
#subnav {
	ul li a {
		color: black;
	}
}
