#job_package_selection {
	@include sparkBorder($color-primary);
	border-width: 5px;
	overflow: hidden;
	.job_listing_packages_title {
		@include displayFlex(row-reverse, space-between, center);
		background-color: $color-grey--dark;
		padding: 1em;
		h2 {
			color: white;
		}
	}
	.job_listing_packages {
		background-color: white;
		border: none;
		ul.job_packages {
			.job-package {
				@include displayFlex(row, flex-start, center);
				transition: all 0.2s ease;
				cursor: pointer;

				&:nth-child(even) {
					background-color: $color-grey--light;
				}
				& > *:not(:last-child) {
					margin-right: 1em;
				}
				&:hover,
				&:focus,
				&:active {
					@include cssHover;
					background-color: rgba($color-ice-blue, 0.5);
				}
				.woocommerce-Price-amount {
					margin-right: 5px;
				}
				&-featured {
					label {
						@include fontHeadings;
						color: $color-secondary;
					}
				}
			}
		}
		ul.user-job_packages {
			list-style: none outside;
			margin: 0;
			padding: 0;
			& > * {
				padding: 1em;
			}
			.package-section {
				font-weight: 700;
				margin: 0;
				// padding: 1em;
			}
			.user-job-package {
				// padding: 1em;
				@include displayFlex(row, flex-start, center);
				transition: all 0.2s ease;
				cursor: pointer;

				&:nth-child(even) {
					background-color: $color-grey--light;
				}
				& > *:not(:last-child) {
					margin-right: 1em;
				}
				&:hover,
				&:focus,
				&:active {
					@include cssHover;
					background-color: rgba($color-ice-blue, 0.5);
				}
				&-featured {
					@include displayFlex(row, flex-start, center);
					label {
						@include fontHeadings;
						color: $color-secondary;
					}
				}
			}
		}
	}
}
