#job-manager__job-dashboard {
	.job-manager {
		&__job {
			&--job_title {
				font-size: 1.2em;
				font-weight: 700;
				color: $color-purple;
				& > a {
					color: black;
				}
				small {
					font-family: $font-headings;
					color: $color-grey--dark;
					text-transform: lowercase;
				}
			}
			&--filled {
				color: $color-purple;
			}
		}
		&__job-dashboard-actions {
			font-size: 0.8rem;
			display: block;
			margin: 0;
			font-weight: 400;
			li {
				display: inline;
				color: $color-grey--dark;

				&:not(:last-child) {
					margin-right: 1em;
				}
				a {
					&:hover {
						color: rgba($color-grey--dark, 0.6);
					}
				}
			}
			&--delete {
				color: red;
			}
			&--continue {
				font-weight: 700;
			}
		}
	}
}
.job-manager-message {
	border-top-width: 2px;
	border-top-color: $color-purple !important;
	color: $color-grey--dark;
	&::before {
		color: $color-purple !important;
	}
}
