.job-listing-preview {
	&__container {
		@include displayFlex(row, space-between, center);
		width: 100%;
		padding: 1em;
		background-color: white;
		@include sparkBorder($color-ice-blue);
		margin-bottom: 2em;
		h1 {
			margin: 0;
			color: $color-ice-blue;
			font-family: $font-headings;
			text-transform: lowercase;
		}
		&--button-container {
			@include displayFlex(row, '', center);
			height: auto;
		}
	}
	&__single-job-listing {
		&--container {
			@include sparkBorder;
			@include displayFlex(column, flex-start, stretch);
			background-color: white;
			padding: 1em;
			.single-job-listing {
				border-top: 3px dashed $color-grey--light;
				padding-top: 1em;
				@include displayFlex(column);

				&__meta {
					&--listing {
						@include displayFlex(row, space-evenly);
						width: auto;
					}
					&--categories {
						margin-left: 1em;
					}
				}
				.company {
					@include displayFlex(row, flex-start, center);
					width: 100%;
					figure {
						max-width: 150px;
						margin: 0;
					}
					&__info {
						margin-left: 1em;
						&--name {
							margin: 0;
							font-size: 1em;
						}
					}
				}
			}
		}
		&--content {
			@include displayFlex(column, flex-start, stretch);
			h2 {
				margin: 0;
				font-size: 2em;
				align-self: center;
			}
		}
	}
}

.job-manager__button {
	&--submit-listing {
		margin-right: 1em;
	}
}
