.job-listing-preview {
	&__container {
		@include displayFlex(row, space-between, center);
		width: 100%;
		padding: 1em;
		background-color: $color-grey--dark;
		margin-bottom: 2em;
		h1 {
			margin: 0;
			color: white;
		}
		&--button-container {
			@include displayFlex(row, '', center);
			height: auto;
		}
	}
	&__single-job-listing {
		&--container {
			background-color: $color-grey--light;
			border-radius: $rounded-border;
			padding: 1em;
		}
		&--content {
			width: 88%;
			h2 {
				margin: 0;
				font-size: 2em;
			}
		}
	}
}

.job-manager__button {
	&--submit-listing {
		margin-right: 1em;
	}
}
