ul.resumes {
	li.resume {
		@include sparkBorder;
		transition: $transition--standard;
		background-color: white;
		&:hover {
			@include cssHover;
		}
		.candidate {
			&__photo {
				height: 150px;
				width: 150px;
				border-radius: 100em;
				overflow: hidden;
				object-fit: contain;
				object-position: center;
				img {
					height: 100%;
					width: 100%;
				}
			}
			&__info {
				h3.candidate__info--name {
					@include fontHeadings;
					font-size: 1.4em;
				}
			}
		}
	}
}
