#single-job-listing {
	.single-job-listing {
		&__meta {
			padding: 1em;
			&--container {
				background-color: $color-grey--light;
				border-radius: $rounded-border;
				border: 3px solid $color-secondary;
				box-shadow: 3px 3px 10px rgba($color-grey--dark, 0.75);
				padding: 1em;

				& form {
					margin: 0;
				}

				.company {
					order: -1;
					border-radius: $rounded-border;
					&__logo {
						height: 100px;
						width: 100px;
						margin: 0 10px 0 0;
						overflow: hidden;
						border-radius: 50%;
						img.company_logo {
							object-fit: cover;
							max-width: 90%;
						}
					}

					&__info {
						&--name {
							font-weight: 700;
							color: black;
							margin: 0;
							font-size: 24px;
						}
						&--website {
							font-weight: 400;
						}
						&--tagline {
							font-style: italic;
							color: $color-grey--dark;
							font-weight: 700;
							font-size: 0.8rem;
							margin: 0;
						}
					}
				}
			}
			&--listing {
				font-weight: 700;
				font-style: italic;
				color: $color-grey--dark;
				li {
					display: inline-block;
					list-style: none;
					&:not(:last-child) {
						margin-right: 1em;
					}
				}
			}
			&--categories {
				@extend .single-job-listing__meta--listing;
				li {
					margin-left: 1em;
					font-weight: 400;
				}
			}
		}
	}
}
