#single-job-listing {
	background-color: white;
	border: 3px solid $color-primary;
	border-radius: $rounded-border;
}
.single-job-listing {
	&--title {
		border-bottom: 2px dashed $color-grey--light;
		text-align: center;
	}

	.job-description {
		font-size: 1em;
		line-height: 1.4;
		padding: 1em;
		div > strong {
			font-family: $font-headings;
			text-transform: lowercase;
			font-size: 2em;
			margin-bottom: 1em;
		}
	}
	.job_application {
		padding: 1em;
	}
}
