#single-job-listing {
	.single-job-listing {
		&__meta {
			padding: 1em;
			&--container {
				background-color: $color-grey--light;
				border-radius: $rounded-border;
				border: 3px solid $color-secondary;
				box-shadow: 3px 3px 10px rgba($color-grey--dark, 0.75);
				padding: 1em;

				& form {
					margin: 0;
				}

				.company {
					order: -1;
					border-radius: $rounded-border;
					&__logo {
						height: 100px;
						width: 100px;
						margin: 0 10px 0 0;
						overflow: hidden;
						border-radius: 50%;
						img.company_logo {
							object-fit: cover;
							max-width: 90%;
						}
					}

					&__info {
						&--name {
							font-weight: 700;
							color: black;
							margin: 0;
							font-size: 24px;
						}
						&--website {
							font-weight: 400;
						}
						&--tagline {
							font-style: italic;
							color: $color-grey--dark;
							font-weight: 700;
							font-size: 0.8rem;
							margin: 0;
						}
					}
				}
			}
			.job-manager-applications-applied-notice {
				@include cssHover;
				@include sparkBorder($color-purple);
				background-color: $color-purple;
				color: white;
				padding: 1em;
				font-style: italic;
				margin-top: 1em;
			}
			&--listing {
				font-weight: 700;
				font-style: italic;
				color: $color-grey--dark;
				li {
					display: inline-block;
					list-style: none;
					@include respond(Tablet) {
						margin-bottom: 1em;
					}
					&:not(:last-child) {
						margin-right: 1em;
					}
				}
				.salary {
					order: 4;
					@include displayFlex;
					.access-restricted {
						display: inline-block;
						border: none;
						background-color: transparent;
						color: black;
						margin: 0;
						animation: none;
						box-shadow: unset;
						font-size: 16px;
						padding: 0;
						&--links a {
							color: $color-secondary;
						}
					}
					.premium-access {
						background-color: transparent;
						display: inline-block;
						padding: unset;
						border: none;
						color: $color-ice-blue;
						margin-left: 10px;
					}
				}
			}
			&--categories {
				margin-left: unset;
				li {
					margin-left: 1em;
					font-weight: 400;
				}
			}
		}
	}
}
