#single-job-listing {
	.single-job-listing {
		&__meta {
			@include displayFlex(row, flex-start, flex-start);
			height: 1200px;
			padding: 1em;
			position: relative;
			&--container {
				grid-column: 2 / 3;
				background-color: $color-grey--light;
				border-radius: $rounded-border;
				border: 3px solid $color-secondary;
				box-shadow: 3px 3px 10px rgba($color-grey--dark, 0.75);
				position: sticky;
				top: 10%;
				padding: 1em;
				@include displayFlex(row, space-evenly, center);

				& form {
					margin: 0;
					@include displayFlex(column, center, center);
				}

				.company {
					order: -1;
					border-radius: $rounded-border;
					@include displayFlex(row, flex-start, center);

					&__logo {
						height: 100px;
						width: 100px;
						margin: 0 10px 0 0;
						overflow: hidden;
						border-radius: 50%;
						img.company_logo {
							object-fit: cover;
						}
					}

					&__info {
						@include displayFlex(column);
						&--name {
							font-weight: 700;
							color: black;
							margin: 0;
							font-size: 24px;
						}
						&--website {
							font-weight: 400;
						}
						&--tagline {
							font-style: italic;
							color: $color-grey--dark;
							font-weight: 700;
							font-size: 0.8rem;
							margin: 0;
						}
					}
				}
			}
			&--listing {
				margin: 0;
				order: 2;
				@include displayFlex;
				width: 100%;
				font-weight: 700;
				font-style: italic;
				color: $color-grey--dark;
				li {
					display: inline-block;
					list-style: none;
					&:not(:last-child) {
						margin-right: 1em;
					}
				}
			}
			&--categories {
				@extend .single-job-listing__meta--listing;
				@include displayFlex(row);
				li {
					margin-left: 1em;
					font-weight: 400;
				}
			}
		}
	}
}
