.x-site {
	background-color: transparent !important;
	#buddypress {
		margin-top: 25vh;
	}
}
/*
* TYPOGRAPHY
*/
.headline {
	font-family: $font-headings;
	text-transform: lowercase;
}
.subheadline {
	font-family: $font-body;
	font-size: 1em;
	line-height: 1.2;
}
footer.x-colophon.bottom {
	font-size: 13px;
	background-color: $color-primary;
	padding: 2em 0;
	a {
		&:hover {
			color: $color-secondary;
			text-decoration: underline;
		}
	}
	#copyright a {
		font-weight: 700;
	}
	#menu-footer a:hover {
		background-color: none;
		opacity: 1;
	}
}
.hoverText {
	color: $color-primary !important;
}
.hoverTextBackground {
	background-color: transparent !important;
}
