#bp-premium-candidates {
	#buddypress {
		margin-top: 25vh;
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 2em;

		#item-header {
			grid-column: 1 / 2;
			padding: 0;
		}
		#item-nav {
			grid-column: 2/3;
		}
		#item-body {
			grid-column: 1/2;
			.x-item-list-tabs-subnav {
				grid-column: 2/3;
			}
		}
	}
}
