@mixin displayFlex(
	$flex-direction: row,
	$main-axis: flex-start,
	$cross-axis: '',
	$wrap: wrap
) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $main-axis;
	align-items: $cross-axis;
	flex-wrap: $wrap;
}
