$color-primary: #f4c063;
$color-secondary: #16af82;
$color-purple: #5c2d86;
$color-blue: #2196f3;
$color-ice-blue: #68cad7;
$color-grey--light: #ececec;
$color-grey--dark: #545454;

$font-headings: 'Abril Fatface', serif;
$font-body: 'Poppins', sans-serif;

$linear-gradient--darken: linear-gradient(
	135deg,
	transparent 54%,
	rgba(0, 0, 0, 0.35)
);

$rounded-border: 10px;
